.about__wrapper {
  padding: 51px 15px 50px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 100px 60px;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 40px;
  }
}

.about__title {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.about__text p {
  width: 290px;
  margin: 0;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    width: 638px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 702px;
    font-size: 22px;
    line-height: 32px;
  }
}

.about__text {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }
}

.about__goal h4 {
  margin: 0;
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-blue;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}

.about__goal p {
  width: 290px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    width: 498px;
    margin-bottom: 40px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
    margin-bottom: 50px;
  }
}

.about__button {
  padding: 15px 60px 15px 21px;
  background-color: $secondary-color;
  letter-spacing: 0.12px;

  @media (min-width: $tablet-width) {
    padding: 20px 81px 20px 29px;
    letter-spacing: 0.3px;
  }
}

.about__button::after {
  @media (min-width: $desktop-width) {
    right: 4px;
  }
}

.about__button::before {
  @media (min-width: $desktop-width) {
    right: 22px;
  }
}
