.form {
  display: flex;
  flex-direction: column;
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 30px;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 12px;
  }
}

.form__label {
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form__label--checkbox {
  font-size: 12px;
  opacity: 1;

  @media (min-width: $tablet-width) {
    line-height: 12px;
  }
}

.form__input,
.form__select {
  border: 1px solid rgba(72, 72, 72, 0.3);
  border-radius: 8px;
  padding: 9px 8px 10px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    line-height: 20px;

    &:not(.form__input--checkbox) {
      min-height: 50px;
    }
  }
}

.form__item--select {
  position: relative;
}

.form__select {
  appearance: none;
  padding-top: 14px;
  padding-bottom: 14px;
  display: inline-block;
}

.form__icon {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: $base-primary;
  mask-image: url("../__spritemap#sprite-arrowhead-view");
  mask-repeat: no-repeat;
  mask-size: 16px 16px;
  mask-position: right;
  right: 20px;
  top: 37px;

  @media (min-width: $tablet-width) {
    top: 49px;
  }
}

.form__select:focus + .form__icon {
  transition: transform 0.5s ease;
  transform: rotate(180deg);
}

.form__select option {
  border-radius: 8px;
  border: 1px solid $base-primary;
}

.form__input--checkbox {
  position: relative;
  appearance: none;
  width: 21px;
  height: 20px;
  border: 1px solid $primary-blue;
  border-radius: 2px;
  background-color: $primary-blue;

  @media (min-width: $tablet-width) {
    width: 20px;
  }
}

.form__item--checkbox {
  flex-direction: row-reverse;
  gap: 9px;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 10px;
  }
}

.form__input--checkbox:checked .form__input--checkbox::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  mask-image: url("../__spritemap#sprite-check-view");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 10px 10px;
  background-color: $base-white;
}

.form__item:hover,
.form__item:focus,
.form__item:active {
  .form__label {
    opacity: 1;
  }

  .form__input:not(.form__input--checkbox),
  .form__select {
    border: 1px solid $base-primary;
  }
}

.form__input:disabled {
  background-color: rgba(169, 175, 183, 0.2);
  border: 1px solid rgba(169, 175, 183, 0.5);
}

.form__input.error {
  background-color: rgba(255, 94, 102, 0.2);
  border: 1px solid $condition-error;
}

.form__select option label {
  display: none;
}
