.grant {
  background-color: $primary-blue;
  color: $base-white;
}

.grant__wrapper {
  padding: 70px 15px;
  display: grid;
  grid-template-columns: 290px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 678px;
    padding: 100px 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 498px 498px;
    gap: 138px;
    padding: 120px 206px 120px 100px;
  }
}

.grant__title {
  color: $base-white;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.grant__text {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.grant__text p {
  margin: 0;
  font-size: 14px;
  letter-spacing: -0.45px;

  @media (min-width: $tablet-width) {
    width: 498px;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: $secondary-color;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.grant__image {
  border-radius: 19px;
  display: block;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.grant__subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.5px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
    letter-spacing: -0.83px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.grant__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  counter-reset: num;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 28px;
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 8px;
  }
}

.grant__item {
  position: relative;
  padding-top: 5px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    width: 325px;
    padding-top: 15px;
    padding-left: 20px;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.grant__item::before {
  position: absolute;
  content: counter(num);
  counter-increment: num;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 32px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  color: $base-white;
  top: 0;
  left: 0;
  padding-left: 3px;
  background-color: $primary-blue;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
    width: 42px;
    height: 42px;
    padding-left: 0;
  }
}

.grant__item-text {
  margin: 0;
  min-width: 275px;
  padding: 24px 26px;
  border-radius: 16px;
  border: 1px solid $secondary-color;
  font-size: 14px;
  color: $secondary-color;
  letter-spacing: -0.5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 305px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}
