// Display Resolution

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Fonts

$primary-font: "Manrope", "Arial", sans-serif;

// Colors

$base-primary: #484848;
$base-white: #ffffff;
$secondary-color: #f0efe9;
$primary-blue: #316dc2;
$secondary-blue: #275699;
$condition-disabled: #a9afb7;
$condition-error: #ff5e66;

// Overlay

$overlay-blue: rgba(49, 109, 194, 0.2);
$overlay-dark: rgba(13, 29, 51, 0.4);
